channels
chatterbot-corpus
cryptography
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
fastapi
flask
fqdn
html5lib
httptools
imagehash
imblearn
isoduration
jsonpointer
jupyter
jupyterlab
lightfm==1.17
lxml
opencv-python
openpyxl
pip-chill
pymysql
pyreadstat
python-dotenv
python-speech-features
rfc3339-validator
rfc3986-validator
scikit-surprise
sklearn
sugaroid-chatterbot
tensorflow
tensorflow-hub
tflearn
torchaudio
torchvision
uri-template
voila
wandb
watchfiles
webcolors
wordcloud
ydata-profiling
